<%- include('./partials/header.ejs') %>
<h1 class="day">Welcome!</h1>
<p class="day">This is an app for self-monitoring daily life, you could write somthing here. Have a nice days!</p>
<form class="index" method="POST">
    <input type="submit" name="mode" value="For Night" class="night btn"/>
    <input type="submit" name="mode" value="For Day" class="day btn"/>
</form>
<%- include('./partials/footer.ejs') %>
